
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,50,50,0.1) 0%, rgba(0,36,61,0.3) 30%), url('https://images.unsplash.com/photo-1502727135886-df285cc8379f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6182683b9eb37511afe1ad1c3576e75a&auto=format&fit=crop&w=1050&q=80');">
</div>
<div class="container first-div">
  <div class="row">
    <div class="col-xs-4">
      <div class="profile-left">
        <div class="deal-avatar-box">
          <% if current_user.photo.present? %>
            <% url = cl_image_path current_user.photo%>
          <% else %>
            <% url = "http://kitt.lewagon.com/placeholder/users/ssaunier" %>
          <% end %>
          <div class="deal-avatar" style="background-image: url(<%= url %>)"></div>
        </div>
        <div class="deal-user-information">
          <h4><%= current_user.name %></h4>
          <p><%= current_user.description %></p>

          <%= link_to "Edit profile", edit_user_path(@user) %>

        </div>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="profile-right">
        <div class="deal-box">
          <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#my_items">My Items</a></li>
              <li><a data-toggle="tab" href="#my_deals">My Deals</a></li>
          </ul>
           <div class="tab-content">
            <div id="my_items" class="tab-pane fade in active">
              <div class="deal-item-container">
                <% current_user.items.each do |item| %>
                  <%= link_to item_path(item), :class => "rent-link" do %>
                    <div class="deal-item-box box-card-profile" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                          url(<%= cl_image_path item.photo, crop: :fill if item.photo.present? %>);">
                    </div>
                    <% end %>
                <% end %>
                <%= link_to new_item_path do %>
                  <div class="deal-item-box box-card-profile new-item-btn" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
                    <span>+</span>
                  </div>
                <% end %>
              </div>
            </div>
            <div id="my_deals" class="tab-pane fade">
              <div class="deal-summary-container">
                <div class="deal-details">
                  <div class="deal-details-content">
                    <div class="deal-number">
                      <h4>Deal no</h4>
                    </div>
                    <div class="deal-status">
                      <h4>Status</h4>
                    </div>
                    <div class="deal-items-number">
                      <h4>Who pays?</h4>
                    </div>
                    <div class="deal-items-num">
                      <h4>No of items</h4>
                    </div>
                    <div class="deal-btn"></div>
                  </div>
                  <% current_user.requested_deals.each do |deal| %>
                    <div class="deal-details-content">
                      <div class="deal-number">
                        <p><%= deal.id %></p>
                      </div>
                      <div class="deal-status">
                        <p><%= deal.status %></p>
                      </div>
                      <div class="deal-items-number">
                        <% if deal.price.fractional == 0 %>
                          <p>No one!</p>
                        <% else %>
                          <p><%= deal.payer %>!</p>
                        <% end %>
                      </div>
                      <div class="deal-items-num">
                        <p><%= deal.deal_items.count %></p>
                      </div>
                      <div class="deal-btn">
                        <%= link_to "View the deal", deal_path(deal) %>
                      </div>
                    </div>
                  <% end %>
                  <% current_user.answered_deals.each do |deal| %>
                    <div class="deal-details-content">
                      <div class="deal-number">
                        <p><%= deal.id %></p>
                      </div>
                      <div class="deal-status">
                        <p><%= deal.status %></p>
                      </div>
                      <div class="deal-items-number">
                        <% if deal.price.fractional == 0 %>
                          <p>No one!</p>
                        <% else %>
                          <p><%= deal.payer %>!</p>
                        <% end %>
                      </div>
                      <div class="deal-items-num">
                        <p><%= deal.deal_items.count %></p>
                      </div>
                      <div class="deal-btn">
                        <%= link_to "View the deal", deal_path(deal) %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
 </div>

