
<center style= "padding-bottom: 30px;">
  <% if @user == current_user %>
    <h4>Hope you're having a Saunier day, <%= @user.name %></h4>
      <% else %>
    <h3>Like <%= @user.name %>'s style?</h3>
  <% end %>
  <div class="card-profile">
      <% if @user.photo.present? %>
          <%= cl_image_tag @user.photo, width: 200, height: 200, radius: :max, crop: :fill %>
      <% else %>
          <%= image_tag "smiley.jpg", width: 200, height: 200, radius: :max, crop: :fill %>
      <% end %>
      <div class="top-right">
      <% if @user == current_user %>
        <h4><%= @current_user.name %></h4>
        <h4><%= @current_user.description %></h4>
        <%= link_to "Edit", edit_user_path(current_user), class: "exs-btn btn-submit" %>

      <% else %>
        <h4>Learn some more about <%= @user.name %>:</h4>
        <h4><%= @user.description %></h4>
    <% end %>
  </div>
  </div>


  <% if @user == current_user %>

        <div class="profile-container">
          <h3>My Items</h3>
          <div class="container">
          <div class="row">
          <% @user.items.each do |item| %>
            <div class="col-xs-12 col-sm-4">
              <div>
                <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                      url(<%= cl_image_path item.photo, height: 300, width: 400, crop: :fill if item.photo.present? %>);">
                </div>
                  <div class="card-text">
                    <%= link_to "View", item_path(item), id: "card-text-1"%>
                    <% if @user == current_user %>
                    <%= link_to "Edit", edit_item_path(item), id: "card-text-2"%>
                    <%= link_to "Delete", item_path(item), id: "card-text-3", method: :delete, data: { confirm: "Are you sure?" } %>
                    <% end %>
                  </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
            <div class="bottom-right">
                <%= link_to "Add items" , new_item_path(current_user), class: "exs-btn btn-submit" %>
            </div>
        </div>
          <div class="profile-container">
            <h3> My Offers </h3>
            <div class="container">
              <div clas="row">
              <% @user.requested_deals.each do |requested_deal| %>
                <div class="col-xs-12 col-sm-4">

                  <% if requested_deal.answerer.photo.present? %>
                    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path requested_deal.answerer.photo, height: 300, width: 400, crop: :fill %>);">
                      <div class="bottom-right">
                      <%= link_to "deal", deal_path(requested_deal), id: "card-text-2"%>
                      </div>
                    </div>
                      <% else %>
                    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),<%= image_tag "smiley.jpg", width: 200, height: 200, radius: :max, crop: :fill %>;">
                      <p> status </p>
                      <div class="bottom-right">
                      <%= link_to "deal", deal_path(requested_deal), id: "card-text-2"%>
                    </div>
                  <% end %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

            <% else %> <!-- if not the current user's page -->

            <div class="profile-container-deals">
                <div class="profile-container-deals-user1">
                  <h4> Your items </h4>
                  <div class="row">
                  <% current_user.items.each do |item| %>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                              url(<%= cl_image_path item.photo, height: 300, width: 400, crop: :fill if item.photo.present? %>);">
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              <div class="profile-container-deals-user2">
                <h4> <%= @user.name %>'s items </h4>
                <div class="row">
                <% @user.items.each do |item| %>
                  <div class="col-xs-12 col-sm-4">
                    <div>
                      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                            url(<%= cl_image_path item.photo, height: 300, width: 400, crop: :fill if item.photo.present? %>);">
                      </div>
                    </div>
                  </div>
                <% end %>
                </div>
              </div>
          </div>
    <% end %>
</center>


