<center>
  <% if @user == current_user %>
    <h3>Hope you're having a Saunier day, <%= @user.name %></h3>
  <% else %>
    <h3>Like <%= @user.name %>'s style?</h3>
  <% end %>

  <div class="card-profile">
    <div class="card-photo">
      <% if @user.photo.present? %>
          <%= cl_image_tag @user.photo, width: 200, height: 200, radius: :max, crop: :fill %>
      <% else %>
          <%= image_tag "smiley.jpg", width: 200, height: 200, radius: :max, crop: :fill %>
      <% end %>
    </div>

    <div class="profile-text">
      <% if @user == current_user %>
        <h3>My name: <%= @user.name %></h3>
        <h3>My story: <%= @user.description %></h3>
      <% else %>
        <h3>Learn some more about <%= @user.name %>:</h3>
        <h3><%= @user.description %></h3>
      <% end %>
    </div>

    <div class="bottom-right">
      <% if @user == current_user %>
        <%= link_to "Edit", edit_user_path(@user), class: "exs-btn btn-submit" %>
        <%= link_to "Add items" , new_item_path(current_user), class: "exs-btn btn-submit" %>
      <% end %>
    </div>
  </div>

  <h2> <%=@user.name %>'s Items </h2>

    <div class="profile-container">
      <div class="row">
          <% @user.items.each do |item| %>
        <div class="col-xs-12 col-sm-4">
          <div>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                    url(<%= cl_image_path item.photo, height: 300, width: 400, crop: :fill if item.photo.present? %>);">
              </div>
              <div class="card-text">
                  <%= link_to "View", item_path(item), id: "card-text-1"%>
                  <% if @user == current_user %>
                  <%= link_to "Edit", edit_item_path(item), id: "card-text-2"%>
                  <%= link_to "Delete", item_path(item), id: "card-text-3", method: :delete, data: { confirm: "Are you sure?" } %>
                  <% end %>
              </div>
          </div>
        </div>
          <% end %>
      </div>
    </div>


</center>

