<!-- Carousel -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <%= cl_image_tag "homepage1.jpg"%>
      <div class="container">
        <div class="carousel-caption">
          <h3 style="font-family: Roboto Mono;">Experience an ever-changing wardrobe</h3>
        </div>
      </div>
    </div>
    <div class="form-center">
      <div class="inner-div">
        <div class="form-group" id="searchForm">
          <%= form_tag items_path, method: :get, class:'form-inline' do %>
          <div class="input-field">
            <%= text_field_tag :search, params[:search], class: 'fa fa-search carousel-search-text-input', placeholder: "   Search"%>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="item">
      <%= cl_image_tag("homepage2.jpg", :html_width => 1500, :html_height =>800, :crop => :fill)%>
      <div class="container">
        <div class="carousel-caption">
          <h3 style="font-family: Roboto Mono;">Join us today!</h3>
        </div>
      </div>
    </div>
    <div class="form-center">
      <div class="inner-div">
        <div class="form-group" id="searchForm">
          <%= form_tag items_path, method: :get, class:'form-inline' do %>
          <div class="input-field">
            <%= text_field_tag :search, params[:search], class: 'carousel-search-text-input', placeholder: "   Search"%>
            <button class="sch-btn" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>



  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <i class="glyphicon glyphicon-chevron-left"></i>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <i class="glyphicon glyphicon-chevron-right"></i>
  </a>
</div>
<!-- /.carousel -->

<!-- /Items Cards -->

<div class="homepagecards container align-middle content">
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-xs-12 col-sm-4">
            <%= link_to item_path(item), :class => "rent-link" do %>
        <div class="card-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
            url(<%= cl_image_path item.photo, height: 300, width: 400, crop: :fill if item.photo.present? %>);">
          <div class="homepage-desc">
              <p> Xchange! </p>
              <h5><%= item.name %></h5>
          </div>
          <div class="ownerphoto-card">
            <% if item.user.photo.present? %>
              <%= cl_image_tag item.user.photo, class: "owner-avatar" %>
            <% else %>
              <%= image_tag "smiley.jpg", class: "owner-avatar" %>
          <% end %>
          </div>
        </div>
      </div>
      <%end%>
    <% end %>
  </div>
</div>
