<div>
  <center>

    <!-- Deal announcement -->
    <h1 style="text-align: center">It's a deal!</h1>

    <!-- Items in the deal and payment button -->
    <% if current_user == @deal.requester %>
      <div class="content-row flex">
        <div class="content-column">
          <h3 class="text-center">You're sending <%= @deal.answerer.name %>...</h3>
          <% @deal.requester.items.each do |item| %>
            <label class="box-content" for="deal_deal_items_my_item_id_<%= item.id %>">
              <div class="box-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                    url(<%= cl_image_path item.photo, crop: :fill if item.photo.present? %>);">
              </div>
            </label>
          <% end %>
        </div>
        <div class="content-column" >
          <h3 class="text-center"><%= @deal.answerer.name %>'s sending you...</h3>
          <% @deal.answerer.items.each do |item| %>
            <label class="box-content" for="deal_deal_items_item_id_<%= item.id %>">
              <div class="box-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                    url(<%= cl_image_path item.photo, crop: :fill if item.photo.present? %>);">
              </div>
            </label>
          <% end %>
        </div>
      </div>
    <% elsif current_user == @deal.answerer %>
      <div class="content-row flex">
        <div class="content-column">
          <h3 class="text-center"><%= @deal.requester.name %>'s sending you...</h3>
          <% @deal.requester.items.each do |item| %>
            <label class="box-content" for="deal_deal_items_my_item_id_<%= item.id %>">
              <div class="box-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                    url(<%= cl_image_path item.photo, crop: :fill if item.photo.present? %>);">
              </div>
            </label>
          <% end %>
        </div>
        <div class="content-column" >
          <h3 class="text-center">You're sending <%= @deal.requester.name %>...</h3>
          <% @deal.answerer.items.each do |item| %>
            <label class="box-content" for="deal_deal_items_item_id_<%= item.id %>">
              <div class="box-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                    url(<%= cl_image_path item.photo, crop: :fill if item.photo.present? %>);">
              </div>
            </label>
          <% end %>
        </div>
      </div>
    <% end %>

    <!-- Deal status and postage reminder -->
    <% if @deal.status == "In negotiation" && @deal.requester != current_user %>
      <%= button_to "Accept", deal_accept_deal_path(@deal), class: "exs-btn btn-submit" %>
    <% elsif @deal.status == "In negotiation" %>
      <p>Pending confirmation</p>
    <% else %>
      <p>You've both agreed to this deal! Don't forget to provide your postal details below</p>
    <% end %>

      <% if @deal.price.fractional != 0 %>
        <p style="text-align: center"><%= @payer.name %> is also paying £<%= @deal.price %> as part of the deal</p>
        <% if (current_user == @payer) && (@deal.status == "Finalised") %>
          <%= button_to "Pay", deal_payments_path(@deal), class: "exs-btn btn-submit" %>
        <% end %>
      <% end %>


    <!-- address boxes only visible if deal Finalised/Paid -->
    <div class="container">
      <% if (@deal.requester == current_user) && (@deal.status == "Finalised") %>   <!-- requester's view -->

        <div class="col-xs-12 col-sm-6">
          <div class="section">
            <p>The address I want things sent to:</p>
            <p><%= @deal.requester_address %></p>
            <p>Change my postal address</p>
            <%= simple_form_for(@deal, :url => deal_path(@deal)) do |f| %>
              <%= f.error_notification %>
              <div class="form-inputs">
                <%= f.input :requester_address %>
              </div>
              <div class="form-actions">
                <%= f.button :submit, class: "exs-btn btn-submit" %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="section">
            <p><%= @deal.answerer.email %>'s address:</p>
            <p><%= @deal.answerer_address %></p>
          </div>
        </div>

      <% elsif (@deal.answerer == current_user) && (@deal.status == "Finalised") %>    <!-- answerer's view -->

        <div class="col-xs-12 col-sm-6">
          <div class="section">
            <p><%= @deal.requester.email %>'s address:</p>
            <p><%= @deal.requester_address %></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="section">
            <p>The address I want things sent to:</p>
            <p><%= @deal.answerer_address %></p>
            <p>Change my postal address</p>
            <%= simple_form_for(@deal, :url => deal_path(@deal)) do |f| %>
              <%= f.error_notification %>
              <div class="form-inputs">
                <%= f.input :answerer_address %>
              </div>
              <div class="form-actions">
                <%= f.button :submit, class: "exs-btn btn-submit" %>
              </div>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>
    <!-- end of address boxes code -->

    <% if @deal.status == "In negotiation" %>
      <%= link_to "Cancel this proposal", { controller: :deals, action: :destroy }, method: :delete, data: { confirm: 'Are you sure?' }%>
    <% end %>

  </center>
</div>






<p>EVERYTHING BELOW WILL BE DELETED LATER</p>
        <li>Status: <%= @deal.status.capitalize %></li>
        <li>Deal ID: <%= @deal.id %></li>
        <li>Deal ID: <%= @deal.payer %></li>
        <%= @payer.name %>
        <%= @payer.email %>





