
<!-- need link to items -->

<!-- Deal announcement -->
<center>
  <h1 style="text-align: center">It's a deal!</h1>
</center>

<!-- Items in the deal and payment button -->
<!-- requester view -->
<% if current_user == @deal.requester %>
  <div class="content-row flex">
    <div class="content-column">
      <h3 class="text-center">You're sending <%= @deal.answerer.name %>...</h3>
      <% @deal.requester.items.each do |item| %>
        <label class="box-content" for="deal_deal_items_my_item_id_<%= item.id %>">
          <div class="box-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                url(<%= cl_image_path item.photo, crop: :fill if item.photo.present? %>);">
          </div>
        </label>
      <% end %>
    </div>
    <div class="content-column">
      <h3 class="text-center"><%= @deal.answerer.name %>'s sending you...</h3>
      <% @deal.answerer.items.each do |item| %>
        <label class="box-content" for="deal_deal_items_item_id_<%= item.id %>">
          <div class="box-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                url(<%= cl_image_path item.photo, crop: :fill if item.photo.present? %>);">
          </div>
        </label>
      <% end %>
    </div>
  </div>
  <!-- price below -->
  <% if @deal.price.fractional != 0 %>
    <div class="deal-payment-content-row flex">
      <div class="content-column">
        <% if current_user == @payer %>
          <p style="text-align: center">You also need to pay <%= @deal.answerer.name %> £<%= @deal.price %></p>
        <% end %>
        <% if (current_user == @payer) && (@deal.status == "Finalised") %>
          <%= button_to "Pay", deal_payments_path(@deal), class: "exs-btn btn-submit" %>
        <% end %>
      </div>
      <div class="content-column">
        <% if current_user != @payer %>
          <p style="text-align: center"><%= @deal.answerer.name %> is also going to pay you £<%= @deal.price %></p>
        <% end %>
      </div>
    </div>
  <% end %>

<!-- answerer view -->
<% elsif current_user == @deal.answerer %>
  <div class="content-row flex">
    <div class="content-column">
      <h3 class="text-center"><%= @deal.requester.name %>'s sending you...</h3>
      <% @deal.requester.items.each do |item| %>
        <label class="box-content" for="deal_deal_items_my_item_id_<%= item.id %>">
          <div class="box-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                url(<%= cl_image_path item.photo, crop: :fill if item.photo.present? %>);">
          </div>
        </label>
      <% end %>
    </div>
    <div class="content-column" >
      <h3 class="text-center">You're sending <%= @deal.requester.name %>...</h3>
      <% @deal.answerer.items.each do |item| %>
        <label class="box-content" for="deal_deal_items_item_id_<%= item.id %>">
          <div class="box-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                url(<%= cl_image_path item.photo, crop: :fill if item.photo.present? %>);">
          </div>
        </label>
      <% end %>
    </div>
  </div>
  <!-- price below -->
  <% if @deal.price.fractional != 0 %>
    <div class="deal-payment-content-row flex">
      <div class="content-column">
        <% if current_user != @payer %>
          <p style="text-align: center"><%= @deal.requester.name %> is also going to pay you £<%= @deal.price %></p>
        <% end %>
      </div>
      <div class="content-column">
        <% if current_user == @payer %>
          <p style="text-align: center">You also need to pay <%= @deal.requester.name %> £<%= @deal.price %></p>
        <% end %>
        <% if (current_user == @payer) && (@deal.status == "Finalised") %>
          <%= button_to "Pay", deal_payments_path(@deal), class: "exs-btn btn-submit" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<!-- Deal status and postage reminder -->
<center>
  <div class="deal-payment-content-row flex deal-middle-page">
    <div class="section">
      <% if @deal.status == "In negotiation" && @deal.requester != current_user %>
        <%= button_to "Accept", deal_accept_deal_path(@deal), class: "exs-btn btn-submit" %>
      <% elsif @deal.status == "In negotiation" %>
        <h4>Still waiting for <%= @deal.answerer.name %> to confirm...</h4>
      <% else %>
        <h4>You've both agreed to this deal!</h4>
      <% end %>
    </div>
  </div>
</center>

<!-- address boxes (only visible if deal finalised or paid)-->
<!-- requester view -->
<% if (@deal.requester == current_user) && (@deal.status == "Finalised") %>
  <div class="deal-payment-content-row flex">
    <div class="content-column">
      <center><p>The address I want things sent to:</p>
      <h4><%= @deal.requester_address %></h4></center>
      <div class="section">
        <p>Change my postal address</p>
        <%= render "form" %>
      </div>
    </div>
    <div class="content-column">
      <center><p><%= @deal.answerer.email %>'s address:</p>
      <h4><%= @deal.answerer_address %></h4></center>
    </div>
  </div>
<!-- answerer view -->
<% elsif (@deal.answerer == current_user) && (@deal.status == "Finalised") %>
  <div class="deal-payment-content-row flex">
    <div class="content-column">
      <center><p><%= @deal.requester.email %>'s address:</p>
      <h4><%= @deal.requester_address %></h4></center>
    </div>
    <div class="content-column">
      <center><p>The address I want things sent to:</p>
      <h4><%= @deal.answerer_address %></h4></center>
      <div class="section">
        <p>Change my postal address</p>
        <%= render "form2" %>
      </div>
    </div>
  </div>
<% end %>
  <!-- end of address boxes code -->

<center>
  <% if @deal.status == "In negotiation" %>
    <%= link_to "Cancel this proposal", { controller: :deals, action: :destroy }, method: :delete, data: { confirm: 'Are you sure?' }, class: "deal-exs-btn btn-submit-red" %>
  <% end %>
  <%= link_to "Back to my profile page", user_path(current_user), class: "deal-exs-btn btn-submit" %>
</center>


<%= javascript_pack_tag 'form' %>
<%= javascript_pack_tag 'form2' %>




