<% content_for :meta_title, "#{@item.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @item.description %>
<% content_for :meta_image, cl_image_path(@item.photo) %>

<div class="container">
  <!-- <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1470309864661-68328b2cd0a5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d7f4285ea420ec7ff9755dcf7500a8b1&auto=format&fit=crop&w=1650&q=80')"> -->

  <div id="item-content">
    <div class="showitem-left col-xs-12 col-md-6">
      <div class="showitem-photo" style="background-image: url('<%= cl_image_path @item.photo %>')">
      </div>
      <!-- <div class="show-icons"> -->
       <!--  <div class="like-counter">
         <i class="fa fa-heart"></i><span class="click-text"><a id="clicks"></span>
          <i class="fa fa-share"></i>
          <i class="fa fa-envelope"></i>
        </div>
      </div> -->
    </div>

    <div class="showitem-right col-xs-12 col-md-6">
      <h3 class="showitem-title"><%= @item.name %></h3>

      <!-- <button class="accordion">Show More Details</button>
      <div class="panel"> -->
      <p><strong>Category:</strong> <%= @item.category %></p>
      <p><strong>Size:</strong> <%= @item.size %></p>
      <p><strong>Color:</strong> <%= @item.size %></p>
      <p><strong>Description:</strong> <%= @item.description %></p>
     <!--  </div> -->
      <div class="showitem-buttons">
        <% if @item.user == current_user %>
          <%= link_to "Edit Item", edit_item_path(@item), class: "showitem-style exs-btn btn-edit itemshow-btn" %>
          <%= link_to 'Delete', { controller: :items, action: :destroy }, method: :delete, data: { confirm: 'Are you sure?' }, class: "showitem-style exs-btn btn-destroy itemshow-btn" %>

        <% else %>
          <%= link_to "Make a deal", user_path(@item.user), class: "exs-btn btn-make-deal" %>

        <% end %>
      </div>

      <h5 id="similar-item"> Other Items You'll Love:</h5>

      <div class="row">
        <% @suggestions.each do |suggestion| %>
          <div class="col-xs-12 col-md-4">
            <%= link_to item_path(suggestion) do %>
              <div class="suggestion-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url('<%= cl_image_path suggestion.photo, class: "suggestion-image" %>');">
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>





<%= javascript_pack_tag 'show' %>
