<div class="container">

  <div class="centered">
    <div class="card-main">
      <div class="card-photo" style="background-image: url('<%= cl_image_path @item.photo %>')">
      </div>

      <div class="top-right">


        <div class="card-text">
          <p><%= @item.name %></p>
          <p><%= @item.description %></p>
        </div>

        <div class="card-button btn-space">
          <% if @item.user == current_user %>
          <%= link_to "Edit", edit_item_path(@item), class: "btn-edit" %>
          <%= link_to 'Destroy', { controller: :items, action: :destroy }, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-delete" %>
          <% end %>
        </div>

      </div>

      <div class="form-button">

      <% if @item.user != current_user %>
          <%= simple_form_for (@deal) do |f| %>
          <%= f.input :item_id, as: :hidden, input_html: {value: @item.id}   %>
          <%= f.button :submit, "Make a deal"  %>

          <%= link_to "Visit Their Profile", user_path(@item.user) %>
          <% end %>
      <% end %>

      </div>
    </div>
  </div>
</div>

